target

# mvn hpi:run
work

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Python venv
chatbot-core/venv/
chatbot-core/.env/
**/__pycache__/
**/*.py[cod]

# Data collection results
chatbot-core/data/**/*.csv
chatbot-core/data/**/*.json

# Embeddings
chatbot-core/data/embeddings/*
!chatbot-core/data/embeddings/.gitkeep

# Local model
chatbot-core/api/models/**/*.gguf

# Coverage report
chatbot-core/.coverage

# Logs of Makefile
logs/*

# Built frontend files
src/main/webapp/static/*
!src/main/webapp/static/.gitkeep

# Eclipse project files
.settings
.classpath
.project
